In [109]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import csv
import scipy.stats as stat
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [110]:
#have to figure out how to download file from somewhere else. If we keep this in the directory, github gets clogged.

os.chdir('/Users/johnhall/PUI2015/')
df0 = pd.read_csv('2014-02 - Citi Bike trip data.csv')
df1 = pd.read_csv('2014-08 - Citi Bike trip data.csv')

In [111]:
#we are doing a two sample test of proportions, so:

def ztest_twosides(teststat, nullvalue,  se, alpha):
    Ztest = (teststat-nullvalue)/se
    pvalue = stat.norm.pdf(Ztest)
    if Ztest > 0.: #this considers both sides of 0, e.g. when Z is 1SD, the value ~ .8413
        pvalue = 1. -pvalue
    pvalue *= 2.
    crit1 = stat.norm.ppf(alpha/2.) 
    crit2 = stat.norm.ppf(1-alpha/2.)
    return pvalue, Ztest, (crit1,crit2)

def two_proportions(x0, n0, x1, n1, alpha=0.05):
    p0 = float(x0)/n0
    p1 = float(x1)/n1
    p = float(x0 +x1)/(n0+n1)
    samplestat =  p0 - p1 #sample statistic
    se = sqrt(p*(1.0-p) * (1.0/n0 + 1.0/n1))
    return ztest_twosides(samplestat,0,  se,  alpha)

def program_output(pvalue,Ztest,(zcrit1,zcrit2)):
    print "hi"

In [112]:
#fraction of 'tourists' is the desired proportion, and we'd liek to see what happend with the 'treatment', i.e. summer.
x0 = df0['usertype'].value_counts()[1]  #<-can we do better than this? I worry that it isn't 'abstract' enough
x1 = df1['usertype'].value_counts()[1]
n0 = len(df0.index)
n1 = len(df1.index)

In [113]:
two_proportions(x0, n0, x1, n1, 0.01) #should return p-value, z, and critical valies

(0.0, -145.98962036987621, (-2.5758293035489008, 2.5758293035489004))

In [114]:
#maybe if we wish to do additional testing especially ChiSq, we'd look at day of week and proportion of 'Customers'?
def weekday_maker(df,column_name):
    df[column_name] = pd.to_datetime[df.column_name]
    df['weekday'] = df[column_name].dt.dayofweek
    days = {0:'Mon',1:'Tues',2:'Weds',3:'Thurs',4:'Fri',5:'Sat',6:'Sun'}
    df['weekday'] = df['weekday'].apply(lambda x: days[x])

In [120]:
weekday_maker(df0,'starttime')

In [119]:
df0.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,382,2014-02-01 00:00:00,2014-02-01 00:06:22,294,Washington Square E,40.730494,-73.995721,265,Stanton St & Chrystie St,40.722293,-73.991475,21101,Subscriber,1991,1
1,372,2014-02-01 00:00:03,2014-02-01 00:06:15,285,Broadway & E 14 St,40.734546,-73.990741,439,E 4 St & 2 Ave,40.726281,-73.989780,15456,Subscriber,1979,2
2,591,2014-02-01 00:00:09,2014-02-01 00:10:00,247,Perry St & Bleecker St,40.735354,-74.004831,251,Mott St & Prince St,40.723180,-73.994800,16281,Subscriber,1948,2
3,583,2014-02-01 00:00:32,2014-02-01 00:10:15,357,E 11 St & Broadway,40.732618,-73.991580,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,17400,Subscriber,1981,1
4,223,2014-02-01 00:00:41,2014-02-01 00:04:24,401,Allen St & Rivington St,40.720196,-73.989978,439,E 4 St & 2 Ave,40.726281,-73.989780,19341,Subscriber,1990,1